*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ background-color: #eaf4f4; }

.header{
    background-color: #6b9080 !important;
}

.logo{
    color: #f6fff8 !important;
}

/* Categories */
.categories{
    background-color: #eaf4f4 !important;
    border-bottom: 2px solid #f6fff8;
}
.category{
    background-color: #a4c3b2 !important;
    color: #f6fff8;
    border: none;
}
.category:hover {
    background-color: #6b9080 !important;
}
.active {
    background-color: #6b9080 !important;
}

/* News Section */
.news-cards{
    padding-top: 8rem;
}

.news-card{
    background-color: #cce3de;
    border-radius: 1rem !important;
    width: 75%;
    margin: 0 auto;
}
.news-card .img{
    border-radius: 1rem;
    height: 200px;
    object-fit: cover;
}
.news-card .news-title{
    color: #f6fff8;
    cursor: pointer;
    display: inline-block;
}

.read-btn {
    background-color: #6b9080 !important;
    color: #f6fff8;
    border: none;
}

.read-btn:hover {
    background-color: #a4c3b2 !important;
    color: #f6fff8;
}

.content{
    background-color: #eaf4f4 !important;
    border-radius: 1rem;
}

.read-full-news-btn{
    background-color: #6b9080 !important;
    color: #f6fff8;
    border: none;
}
.read-full-news-btn:hover{
    background-color: #a4c3b2 !important;
    color: #f6fff8;
}
.close-btn{
    background-color: rgb(212, 4, 4) !important;
    color: white;
    border: none;
}
.close-btn:hover{
    background-color: rgb(158, 4, 4) !important;
    color: white;
}

@media (max-width: 450px) {
    .categories{
        white-space: nowrap;
        overflow-x: scroll;
        padding: 0 1rem;
    }

    .news-cards{
        width: 95%;
        margin: 0 auto;
        padding-top: 7rem;
    }

    .news-card{
        width: 100%;
    }

    .news-card .img {
        height: 200px;
    }

    .news-card .news-title{
        margin-top: .5rem;
    }
}