*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root{
    Colors
    --primary-color: #6b9080;
    --secondary-color: #cce3de; 
    --text-color1: #f6fff8;
    --text-color2: #E6FFFD;
} */

body{ background-color: #eaf4f4; }

.header{
    background-color: #6b9080 !important;
}

.logo{
    color: #f6fff8 !important;
}

/* Categories */
.categories{
    background-color: #eaf4f4 !important;
    border-bottom: 2px solid #f6fff8;
}
.category{
    background-color: #a4c3b2 !important;
    color: #f6fff8;
    border: none;
}
.category:hover {
    background-color: #6b9080 !important;
}
.active {
    background-color: #6b9080 !important;
}

/* News Section */
.news-card{
    background-color: #cce3de;
    border-radius: 1rem !important;
}
.news-card .img{
    border-radius: 1rem; 
}
.news-card .news-title{
    color: #f6fff8;
    cursor: pointer;
    display: inline-block;
}

.read-btn {
    background-color: #6b9080 !important;
    color: #f6fff8;
    border: none;
}

.read-btn:hover {
    background-color: #a4c3b2 !important;
    color: #f6fff8;
}

.content{
    background-color: #eaf4f4 !important;
    border-radius: 1rem;
}

.read-full-news-btn{
    background-color: #6b9080 !important;
    color: #f6fff8;
    border: none;
}
.read-full-news-btn:hover{
    background-color: #a4c3b2 !important;
    color: #f6fff8;
}
.close-btn{
    background-color: rgb(212, 4, 4) !important;
    color: white;
    border: none;
}
.close-btn:hover{
    background-color: rgb(158, 4, 4) !important;
    color: white;
}

@media screen and (max-width: 425px) {
    .categories{
        overflow-x: scroll;
    }

    section{
        padding-top: 15rem
    }
}